body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background-color: #f5f5f5;
  color: #222;
}

header {
  background-color: #0b1e39;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

section {
  padding: 60px 20px;
  text-align: center;
}

footer {
  background: #0b1e39;
  color: #fff;
  padding: 20px;
  text-align: center;
}
